/* 
    Created on : 27/03/2016, 4:09:14 AM
    Author     : Han.D.Phan
    Purpose    : CSS for Flags
*/

.flag{
    margin-bottom: -0.6em;
    transform-style: preserve-3d;
}

.flag:hover {
    transform: skew(-20deg);
}

