/* 
    Author : Han D. Phan
*/

/* BACKGROUND */
body {
    background-color:black;
    background-image:
    radial-gradient(white, rgba(25, 181, 192, 0.2) 3px, transparent 15px),
    radial-gradient(white, rgba(239, 7, 247, 0.15) 2px, transparent 10px),
    radial-gradient(white, rgba(70, 30, 218, 0.1) 3px, transparent 10px),
    radial-gradient(rgba(228, 236, 222, 0.664), rgba(240, 12, 12, 0.1) 3px, transparent 5px),
    radial-gradient(white, rgba(12, 213, 240, 0.18) 1.5px, transparent 10px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px, 690px 690px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px, 42px 69px;
}

/* BODY */
#wrapper {
    margin-right: auto;
    margin-left: auto;
    width: 96%; /* Holding outermost DIV */
    max-width: 1024px;/*design scales to 96% viewport but will never expand beyond 1024px wide*/
}

footer {
    color: white;
    position: absolute;
}

.homeButton{
    max-width: 100%;
    max-height: 100%;
    width: 6em;
    height: auto;
}

.textColor {
    color: white;
}

.copyright-link{
    color: white;
}

.copyright-link:hover {
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
    box-shadow: 0px 0px 148px -2px rgba(250,107,142,0.45);
}

/* **********************************************/
/* Large Screen: Hide #mediumNav; Show #fullNav */
@media screen and (min-width: 801px) {
    #mediumNav{
        visibility: hidden;
        display: none;
    }

    /* Nav for Large Screen */
    .round-button-circle {
        width: 6em;
        height: 6em;
        border-radius: 100%;
        border:0.2em solid #cfdcec;
        overflow:hidden;
        background: #4679BD; 
        box-shadow: 0 0 3px gray;
        opacity: 0.85;
    }
    .round-button-circle:hover {
        background:#30588e;
        text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
        box-shadow: 0px 0px 148px -2px rgba(11,207,142,0.55);
        opacity: 1;
    }
    .round-button-circle a {
        display:block;
        float:left;
        width:100%;
        padding-top:50%;
        padding-bottom:50%;
        line-height:1em;
        margin-top:-0.5em;
        text-align:center;
        color:#e2eaf3;
        font-family:Verdana;
        font-size:1.2em;
        font-weight:bold;
        text-decoration:none;
    }

    .round-button-circle a img {
        margin-top: -1.2em;
    }

    /* Arrange buttons on a circle */
    nav {
        position: relative;
        width: 30em;
        height: 30em;
        padding: 4.3841em; /*= 3.1em * 1.4 (3.1em = half the width of an img, 1.4 = sqrt(2))*/
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.1em;
        margin-bottom: 3em;
        background: none;
    }
    nav ul li {
        display: block;
        position: absolute;
        top: 50%; left: 50%; 
        width: 6em; height: 6em;
        margin: -3.1em;
    }
    nav ul li img { display: block; width: 100%; }
    .deg30 { transform: rotate(30deg) translate(15em) rotate(-30deg); }
    .deg90 { transform: rotate(90deg) translate(15em) rotate(-90deg); }
    .deg150 { transform: rotate(150deg) translate(15em) rotate(-150deg); }
    .deg210 { transform: rotate(210deg) translate(15em) rotate(-210deg); }
    .deg270 { transform: rotate(270deg) translate(15em) rotate(-270deg); }
    .deg330 { transform: rotate(330deg) translate(15em) rotate(-330deg); }

    /* *****************/
    /* Social sub-menu */
    .social-button-circle {
        width: 50%;
        height: 50%;
        border-radius: 50%;
        margin: -30%;
        border:0.2em solid #cfdcec;
        overflow:hidden;
        background: #4679BD; 
        box-shadow: 0 0 3px gray;
        opacity: 0.85;
    }
    .social-button-circle:hover {
        background:#30588e;
        text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
        box-shadow: 0px 0px 148px -2px rgba(11,207,142,0.55);
        opacity: 1;
    }
    .social-button-circle a {
        display:block;
        float:left;
        width:100%;
        padding-top:50%;
        padding-bottom:50%;
        line-height:1em;
        margin-top:-0.5em;
        text-align:center;
        color:#e2eaf3;
        font-family:Verdana;
        font-size:1.2em;
        font-weight:bold;
        text-decoration:none;
    }
    .socialButtons {
        position: relative;
        margin-top: 44.5%;
        margin-left: 110%;
        padding-left: 0%;
        width: 0%;
        height: 0%;
        display: none;
        background: none;
    }
    .socialButtons li {
        display: block;
        position: relative;
        margin: 0%;
    }
}

/* ************************************************/
/* Medium Screen: Hide #fullNav; Show #medifumNav */
@media screen and (max-width: 800px) {
    #fullNav{
        visibility: hidden;
        display: none;
    }

    /* Nav for medium screen */
    .round-button-circle {
        width: 4em;
        height: 4em;
        border-radius: 100%;
        border:0.2em solid #cfdcec;
        overflow:hidden;
        background: #4679BD; 
        box-shadow: 0 0 3px gray;
        opacity: 0.85;
    }
    .round-button-circle:hover {
        background:#30588e;
        text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
        box-shadow: 0px 0px 148px -2px rgba(11,207,142,0.55);
        opacity: 1;
    }
    .round-button-circle a {
        display:block;
        float:left;
        width:100%;
        padding-top:50%;
        padding-bottom:50%;
        line-height:1em;
        margin-top:-0.5em;
        text-align:center;
        color:#e2eaf3;
        font-family:Verdana;
        font-size:1.2em;
        font-weight:bold;
        text-decoration:none;
    }

    .round-button-circle a img {
        margin-top: -0.75em;
    }

    /* Arrange buttons on a circle */
    nav {
        position: relative;
        width: 24em;
        height: 24em;
        padding-top: 1em;
        padding-bottom: 0em;
        padding-right: 0em;
        padding-left: 0em;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.1em;
        margin-bottom: 3em;
        background:none;
    }
    nav ul li {
        display: block;
        position: absolute;
        top: 50%; left: 50%; 
        width: 4em; height: 4em;
        margin: -3.1em;
    }
    nav ul li img { display: block; width: 100%; }
    .deg30 { transform: rotate(30deg) translate(7em) rotate(-30deg); }
    .deg90 { transform: rotate(90deg) translate(7em) rotate(-90deg); }
    .deg150 { transform: rotate(150deg) translate(7em) rotate(-150deg); }
    .deg210 { transform: rotate(210deg) translate(7em) rotate(-210deg); }
    .deg270 { transform: rotate(270deg) translate(7em) rotate(-270deg); }
    .deg330 { transform: rotate(330deg) translate(7em) rotate(-330deg); }

    /* *****************/
    /* Social sub-menu */
    .social-button-circle {
        width: 50%;
        height: 50%;
        border-radius: 50%;
        margin: -30%;
        border:0.2em solid #cfdcec;
        overflow:hidden;
        background: #4679BD; 
        box-shadow: 0 0 3px gray;
        opacity: 0.85;
    }
    .social-button-circle:hover {
        background:#30588e;
        text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
        box-shadow: 0px 0px 148px -2px rgba(11,207,142,0.55);
        opacity: 1;
    }
    .social-button-circle a {
        display:block;
        float:left;
        width:100%;
        padding-top:50%;
        padding-bottom:50%;
        line-height:1em;
        margin-top:-0.5em;
        text-align:center;
        color:#e2eaf3;
        font-family:Verdana;
        font-size:1.2em;
        font-weight:bold;
        text-decoration:none;
    }
    .socialButtons {
        position: relative;
        margin-top: 33%;
        margin-left: 85%;
        padding-left: 0%;
        width: 0%;
        height: 0%;
        display: none;
        background: none;
    }
    .socialButtons li {
        display: block;
        position: relative;
        margin: 0%;
    }
}

/* FLAG */
.flag{
    margin-bottom: -0.6em;
    transform-style: preserve-3d;
}

.flag:hover {
    transform: skew(-20deg);
}

